body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

body, html {
    height: 100%;

    color: #000;
    line-height: 1.8;
}

.w3-bar {
    background-color: #000;
    color: #FFF;
}

.w3-bar .w3-bar-item {
    margin: 5px;
    padding: 5px 16px;
}

.w3-bar-item .fa {
    margin-right: 3px;
}

.parallax-tag {
    position: absolute;
    right: 0;
    left:0;
}

.pt-top {
    top:0;
}

.pt-bottom {
    bottom: 0;
}

.parallax-tag > span {
    display: block;
}

.read-more {
    line-height: 1;
    margin-bottom: 14px;
}

.anchor-point {
    width: 100vw;
    height: 0;

    position: absolute;
    top: -53px;
}

hr {
    height: 1px;
    margin: 7.5px 0;

    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);

    border: 0;
}

.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.check-group > p {
    margin-left: 16px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: #000;
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ /* IE */
    color: #000;
    opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder{ /* Edge */
    color: #000;
    opacity: 1;
}

input::placeholder, textarea::placeholder {
    color: #000;
    opacity: 1;
}

.w3-input, .w3-select {
    border-color: #000;
}

input:focus, textarea:focus {
    border: 1px solid black !important;
    box-shadow: 0 0 3px black !important;
    -moz-box-shadow: 0 0 3px black !important;
    -webkit-box-shadow: 0 0 3px black !important;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 0 !important;
    outline: none !important;
}



#myNavbar {
    height: 53px;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
}